<!DOCTYPE html>
<html ng-app="app-crypto">

<head>
    <meta charset="utf-8">
    <!--
          Customize this policy to fit your own app's needs. For more guidance, see:
              https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
          Some notes:
              * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
              * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
              * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                  * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Crypto Info</title>

    <link rel="stylesheet" href="framework7/css/framework7.min.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar"></div>

        <!-- Left panel with cover effect-->
        <div class="panel panel-right panel-cover" ng-controller="panelRightCtrl">
            <div class="view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Opções</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="block-title display-flex justify-content-space-between">
                            <span ng-bind="title"></span>
                            <span class="price-value">
                                <span ng-bind="FILTERS.range[0] | currency"></span>
                                -
                                <span ng-bind="FILTERS.range[1] | currency"></span>
                            </span>
                        </div>
                        <div class="list simple-list">
                            <ul>
                                <li class="item-row">
                                    <div class="item-cell width-auto flex-shrink-0">
                                        <i class="icon f7-icons ios-only">money_dollar</i>
                                        <i class="icon material-icons md-only">attach_money</i>
                                    </div>
                                    <div class="item-cell item-cell-shrink-3">
                                        <!-- Dual range slider with all the parameters passed via data- attributes -->
                                        <div id="price-filter" class="range-slider range-slider-init color-blue" data-label="true" data-dual="true" data-min="0"
                                            data-max="500" data-step="1"></div>
                                    </div>
                                    <div class="item-cell width-auto flex-shrink-0">
                                        <i class="icon f7-icons ios-only">money_dollar_fill</i>
                                        <i class="icon material-icons md-only">monetization_on</i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content item-input item-input-with-value">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Coin</div>
                                            <div class="item-input-wrap">
                                                <select name="gender" class="input-with-value" ng-model="SELECTED_COIN" ng-options="c for c in coins"></select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main ios-edges">
            <!-- Page, data-name contains page name which can be used in callbacks -->
            <div class="page" data-name="home">
                <div class="progressbar-infinite color-multi" ng-show="IS_LOADING"></div>
                <!-- Top Navbar -->
                <div class="navbar" ng-controller="navbarCtrl">
                    <div class="navbar-inner">
                        <div class="title sliding">Crypto Info</div>
                        <div class="right">
                            <a href="#" class="link icon-only searchbar-enable" data-searchbar=".searchbar-demo">
                                <i class="icon f7-icons ios-only">search</i>
                                <i class="icon material-icons md-only">search</i>
                            </a>
                            <a href="#" class="link icon-only" ng-click="reload()">
                                <i class="icon f7-icons ios-only">refresh</i>
                                <i class="icon material-icons md-only">refresh</i>
                            </a>
                            <a href="#" class="link icon-only panel-open" data-panel="right">
                                <i class="icon f7-icons ios-only">filter</i>
                                <i class="icon material-icons md-only">filter_list</i>
                            </a>
                        </div>
                        <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-expandable searchbar-demo searchbar-init">
                            <div class="searchbar-inner">
                                <div class="searchbar-input-wrap">
                                    <input type="search" placeholder="Search" />
                                    <i class="searchbar-icon"></i>
                                    <span class="input-clear-button"></span>
                                </div>
                                <span class="searchbar-disable-button">Cancel</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <a href="#tab-1" class="tab-link tab-link-active">
                            <i class="icon f7-icons">money_dollar</i>
                            <span class="tabbar-label">Moedas</span>
                        </a>
                        <a href="#tab-2" class="tab-link">
                            <i class="icon f7-icons">home</i>
                            <span class="tabbar-label">Corretoras</span>
                        </a>
                        <a href="#tab-3" class="tab-link">
                            <i class="icon f7-icons">info</i>
                            <span class="tabbar-label">Info</span>
                        </a>
                    </div>
                </div>

                <div class="tabs">
                    <div id="tab-1" class="page-content tab tab-active" ng-controller="coinsCtrl">
                        <div class="block block-strong searchbar-hide-on-search">
                            <p>Here is your blank Framework7 app. Let's see what we have here.</p>
                        </div>

                        <div class="list list-search">
                            <ul>
                                <li class="text-center padding" ng-show="showLoading">
                                    <div class="preloader color-multi"></div>
                                </li>
                                <li class="item-content" ng-repeat="c in LIST_COINS track by $index">
                                    <div class="item-media">
                                        <img ng-src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{c.rank}}.png" class="currency-logo-sprite" alt="{{c.name + '' + c.symbol}}">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="item-header" ng-bind="c.name + ' (' + c.symbol + ')'"></div>
                                            <span ng-bind="c[NAME_PRICE] | currency"></span>
                                            <div class="item-footer">
                                                Volume:
                                                <span ng-bind="c[NAME_VOLUME] | currency"></span>
                                            </div>
                                        </div>
                                        <div class="item-after">
                                            <i class="f7-icons change-icon" ng-class="c['percent_change_24h'] >= 0 ? 'text-green' : 'text-red'" ng-bind="c['percent_change_24h'] >= 0 ? 'arrow_up' : 'arrow_down'">arrow_up</i>&nbsp;{{c['percent_change_24h']}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-2" class="page-content tab">
                        <div class="block">
                            <p>Tab 2 content</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam enim quia molestiae facilis laudantium
                                voluptates obcaecati officia cum, sit libero commodi. Ratione illo suscipit temporibus sequi
                                iure ad laboriosam accusamus?</p>
                            <p>Saepe explicabo voluptas ducimus provident, doloremque quo totam molestias! Suscipit blanditiis
                                eaque exercitationem praesentium reprehenderit, fuga accusamus possimus sed, sint facilis
                                ratione quod, qui dignissimos voluptas! Aliquam rerum consequuntur deleniti.</p>
                            <p>Totam reprehenderit amet commodi ipsum nam provident doloremque possimus odio itaque, est animi
                                culpa modi consequatur reiciendis corporis libero laudantium sed eveniet unde delectus a
                                maiores nihil dolores? Natus, perferendis.</p>
                            <p>Atque quis totam repellendus omnis alias magnam corrupti, possimus aspernatur perspiciatis quae
                                provident consequatur minima doloremque blanditiis nihil maxime ducimus earum autem. Magni
                                animi blanditiis similique iusto, repellat sed quisquam!</p>
                            <p>Suscipit, facere quasi atque totam. Repudiandae facilis at optio atque, rem nam, natus ratione
                                cum enim voluptatem suscipit veniam! Repellat, est debitis. Modi nam mollitia explicabo,
                                unde aliquid impedit! Adipisci!</p>
                            <p>Deserunt adipisci tempora asperiores, quo, nisi ex delectus vitae consectetur iste fugiat iusto
                                dolorem autem. Itaque, ipsa voluptas, a assumenda rem, dolorum porro accusantium, officiis
                                veniam nostrum cum cumque impedit.</p>
                            <p>Laborum illum ipsa voluptatibus possimus nesciunt ex consequatur rem, natus ad praesentium rerum
                                libero consectetur temporibus cupiditate atque aspernatur, eaque provident eligendi quaerat
                                ea soluta doloremque. Iure fugit, minima facere.</p>
                        </div>
                    </div>
                    <div id="tab-3" class="page-content tab">
                        <div class="block">
                            <p>Tab 3 content</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam enim quia molestiae facilis laudantium
                                voluptates obcaecati officia cum, sit libero commodi. Ratione illo suscipit temporibus sequi
                                iure ad laboriosam accusamus?</p>
                            <p>Saepe explicabo voluptas ducimus provident, doloremque quo totam molestias! Suscipit blanditiis
                                eaque exercitationem praesentium reprehenderit, fuga accusamus possimus sed, sint facilis
                                ratione quod, qui dignissimos voluptas! Aliquam rerum consequuntur deleniti.</p>
                            <p>Totam reprehenderit amet commodi ipsum nam provident doloremque possimus odio itaque, est animi
                                culpa modi consequatur reiciendis corporis libero laudantium sed eveniet unde delectus a
                                maiores nihil dolores? Natus, perferendis.</p>
                            <p>Atque quis totam repellendus omnis alias magnam corrupti, possimus aspernatur perspiciatis quae
                                provident consequatur minima doloremque blanditiis nihil maxime ducimus earum autem. Magni
                                animi blanditiis similique iusto, repellat sed quisquam!</p>
                            <p>Suscipit, facere quasi atque totam. Repudiandae facilis at optio atque, rem nam, natus ratione
                                cum enim voluptatem suscipit veniam! Repellat, est debitis. Modi nam mollitia explicabo,
                                unde aliquid impedit! Adipisci!</p>
                            <p>Deserunt adipisci tempora asperiores, quo, nisi ex delectus vitae consectetur iste fugiat iusto
                                dolorem autem. Itaque, ipsa voluptas, a assumenda rem, dolorum porro accusantium, officiis
                                veniam nostrum cum cumque impedit.</p>
                            <p>Laborum illum ipsa voluptatibus possimus nesciunt ex consequatur rem, natus ad praesentium rerum
                                libero consectetur temporibus cupiditate atque aspernatur, eaque provident eligendi quaerat
                                ea soluta doloremque. Iure fugit, minima facere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cordova -->
    <script src="cordova.js"></script>

    <script src="libs/jquery/jquery.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-animate.min.js"></script>
    <script src="libs/angular/angular-cookies.min.js"></script>
    <script src="libs/angular/angular-sanitize.min.js"></script>
    <script src="libs/angular-translate/angular-translate.min.js"></script>
    <script src="libs/angular-translate/angular-translate-storage-cookie.js"></script>
    <script src="libs/angular-translate/angular-translate-storage-local.min.js"></script>
    <script src="libs/angular-translate/angular-translate-loader-url.min.js"></script>
    <script src="libs/angular-translate/angular-translate-loader-static-files.min.js"></script>

    <!-- Framework7 library -->
    <script src="framework7/js/framework7.min.js"></script>

    <!-- App routes -->
    <script src="js/routes.js"></script>

    <!-- Your custom app scripts -->
    <script src="js/app.js"></script>
</body>

</html>