body {
    min-width: 360px;
    min-height: 500px;
}

.text-red {
    color: #f44336 !important;
}

.text-green {
    color: #4caf50 !important;
}

.change-icon {
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.page-include .page-content {
    min-height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 56px;
}

.page-home .item-content {
    cursor: pointer;
}

.page-home .item-content:hover {
    background-color: #d2eafd;
}

.page-home .item-content .item-title .icon {
    font-size: 12px;
    margin-left: 5px;
    color: #212121;
}

.page-info .center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-donation .block-center {
    text-align: center;
}

/* SWIPER */

.demo-swiper .swp-img-content {
    text-align: center;
}

.demo-swiper .swp-img-content img {
    width: 100px;
    height: auto;
}

.demo-swiper .swp-coin-description {
    text-align: center;
}

.demo-swiper .swp-coin-info {
    text-align: center;
}

.demo-swiper .swp-coin-info .col {
    border: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    height: 82px;
    width: 33.3333333333% !important;
    font-size: 12px;
}

.demo-swiper .swp-coin-info .col .title {
    display: block;
    font-size: 16px;
}

.demo-swiper .swp-coin-info .col:first-child {
    border-left: none;
}

.demo-swiper .swiper-slide {
    padding: 15px;
    font-weight: 300;
    background: #fff;
    color: #000;
}

.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}

.demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 230px;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

/* courses */

.page-courses .demo-facebook-card .card-header {
    display: block;
    padding: 10px;
}

.page-courses .demo-facebook-card .demo-facebook-avatar {
    float: left;
}

.page-courses .demo-facebook-card .demo-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}

.page-courses .demo-facebook-card .demo-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}

.page-courses .demo-facebook-card .card-footer {
    background: #fafafa;
}

.page-courses .demo-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}

.page-courses .demo-facebook-card .card-content img {
    display: block;
}

.page-courses .demo-facebook-card .card-content-padding {
    padding: 15px 10px;
}

.page-courses .demo-facebook-card .card-content-padding .likes {
    color: #8e8e93;
}