.page img {
    width: 100%;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.page .card:first-child {
    margin: 8px;
}

.page .card {
    margin-top: 30px;
}

.page pre {
    border: solid #44b7df;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
    overflow: auto;
}