.text-red {
    color: #f44336 !important;
}

.text-green {
    color: #4caf50 !important;
}

.change-icon {
    font-size: 18px;
}

.text-center {
    text-align: center;
}

#tab-1 .item-content {
    cursor: pointer;
}

#tab-1 .item-content:hover {
    background-color: #d2eafd;
}